//= require jquery-ui/datepicker
//= require jquery-ui/smoothness
//= require 'order'

@import "foundation_and_overrides";
@import 'foundation-icons';

body {
  padding: 1em;
}

i.large {
  font-size: 200%;
}

i.medium {
  font-size: 150%;
}

i.small {
  font-size: $base-font-size;
}

.full-width {
  min-width: 80%;
  max-width: 80%;
}

dl.data-list {
  padding: 0.5em;

  dt {
    font-weight: bold;
    float: left;
    clear: left;
    text-align: right;
  }
  dt:after {
    content: ':';
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
}