//= require jquery-ui/datepicker
//= require jquery-ui/smoothness
//= require 'order'
@import "foundation_and_overrides";
@import 'foundation-icons';

body {
  padding: 1em;
}

i {
  &.huge   { font-size: 500%; }
  &.large  { font-size: 200%; }
  &.medium { font-size: 150%; }
  &.small  { font-size: $base-font-size; }

  &.style1 {
    color: #B8D30B;
    }
}

.full-width {
  min-width: 80%;
  max-width: 80%;
}

.total-row {
  font-weight: bold;
}
